@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
}
.homePage {
	background: #5ED4A8;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #DESB7C;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #FF00A7;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #DB3A88;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: left;
}
.footer {
	background: #FF8054;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
	a:link {
     color: #000000;
}
a:visited {
     color: #000;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
